@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Rubik:wght@500&display=swap');
.white {
    background-color: rgb(255, 167, 211);
}
*{
    padding: 0;
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    background-color: rgb(201, 168, 231);   
    font-size: 1.2em;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.panel-game {
    text-align: center;
    padding: 10px;
    margin: 10px;
    display: block;
}

.panel-game {
    text-align: center;
    padding: 10px;
    margin: 0px;
    display: none;
}

.container-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.container-form h1 {
    font-size: 2.5em;
}

.container-form p{
    margin: 0px;
    padding: 10px;
    font-weight: 700;
    font-size: 0.8em;
   
}

.container-form-etc-span {
    background-color: rgb(196, 255, 178);
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
}

.container-form select{
    height: 45px;
    font-weight: 700;
    font-size: 0.8em;
    padding: 12px;
    border-radius: 10px 0 0 10px;
    background-color: rgb(211, 255, 253);
    border: 1px double rgb(38, 0, 255);
    justify-self: 0;
    margin-right: 0;
}

.container-game-word {
 /*    border: 1px solid green; */
    margin-top: 15px;
    background-color: rgb(253, 211, 232);
    max-width: 62%;
    padding: 20px 15px;
    border-radius: 50px;
}

.container-game-word button {
    font-size: 1.2rem;
    font-weight: 700;
    width: 65px;
    height: 65px;
    margin: 4px;
    border-radius: 20px;
    border-color: #ccc;
}

.container-game-word button:hover {
    font-weight: 800;
    color: rgb(255, 167, 211);
    background-color: rgb(0, 0, 0);
    transition: 0.4s;
    border: solid rgb(252, 29, 140);
    box-shadow: 1px 1px 1px 1px rgb(252, 29, 140);
}

.panel-wcord-insriber {
    font-weight: 900;
    font-size: 3.5em;
    margin: 3px;
}

.container-help {
    text-align: center;
    gap: 10px;
    background-color: rgb(247, 240, 255);
    border-radius: 25px;
    max-width: 50%;
    padding: 10px;
    margin: 30px auto ;
}

/* .container-help ul{
    list-style:  circle !important;
} */

.test{
    margin: 30px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* text-align: left; */
}

.test p {
    margin-top: 15px;
    font-weight:600;
    display: inline-block;
}

.container-form-etc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.container-form-etc button {
    justify-self: 0;
    margin-left: 0;
    height: 45px;
    font-weight: 700;
    font-size: 0.8em;
    padding: 12px;
    font-size: 15px;
    border-radius: 0 15px 15px 0;
    background-color: rgb(211, 255, 253);
    border: 1px double rgb(38, 0, 255);
}

.markcolor {
    background-color: greenyellow;
    padding: 2px;
}

.img-forcar img {
    width: 250px;
}